<!-- Navigation Bar Component Template -->

<nav class="bg-white-800 w-full">
  <div class="">
    <div class="relative flex items-center justify-between">
      
      <!-- Left side of the navigation bar -->
      <div class="flex sm:flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        
        <!-- Logo or category list -->
        <div class="flex flex-shrink-0 items-center">
          <app-category-list> </app-category-list>
        </div>
        
        <!-- Navigation links -->
        <div class="sm:ml-6">
          <div class="flex space-x-4">
            
            <!-- Home link with appHighlight directive and routerLink -->
            <a appHighlight [routerLink]="['home']" routerLinkActive="active" class="px-3 py-2 text-[16px] mt-3">Home</a>
            
            <!-- Shop link with appHighlight directive and routerLink -->
            <a appHighlight [routerLink]="['shop']" routerLinkActive="active" class="px-3 py-2 text-[16px] mt-3">Shop</a>
            
            <!-- Cart link (visible if authenticated) with appHighlight directive and routerLink -->
            <a appHighlight *ngIf="isAuthenticated" [routerLink]="['cart']" routerLinkActive="active" href="#" class="px-3 py-2 text-[16px] mt-3">Cart</a>
            
            <!-- Checkout link (visible if authenticated) with appHighlight directive and routerLink -->
            <a appHighlight *ngIf="isAuthenticated" [routerLink]="['checkout']" routerLinkActive="active" class="px-3 py-2 text-[16px] mt-3">Checkout</a>
          </div>
        </div>
      </div>

      <!-- Right side of the navigation bar (for authentication links) -->
      <div *ngIf="!isAuthenticated" class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0 mt-[1.2vh]">
        <!-- Login link with routerLink -->
        <a [routerLink]="['/auth/login']" class="px-3 py-2 text-m">Login</a>
        
        <!-- Register link with routerLink -->
        <a [routerLink]="['/auth/register']" class="px-3 py-2 text-m">Register</a>
      </div>

      <!-- Logout button (visible if authenticated) with click event handler -->
      <button (click)="handleLogout()" *ngIf="isAuthenticated" class="px-3 py-2 text-m">Logout</button>
    </div>
  </div>
</nav>


