<mat-toolbar *ngIf="showheader" class="justify-between px-[2vw]">
  <h1 class="font-bold" style="font-size: 2.5rem">
    <span class="font-extrabold border px-4 py-2 mr-1" style="color: #d19c97"
      >E</span
    >
    Shopper
  </h1>

  <div class="flex">
    <div class="text-left border">
      <form action="">
        <input
          class="pl-2"
          type="text"
          placeholder="Search for products"
          style="width: 500px"
        />
      </form>
    </div>
    <div class="border">
      <button
        mat-icon-button
        style="color: #d19c97"
        class="pt-1 pl-1 pb-0"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
  <div style="display: flex">
    <div class="border">
      <button
        mat-icon-button
        class="icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <span class="pr-3">0</span>
    </div>
    <div class="border">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        class="icon"
        *ngIf="showCart"
      >
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <span class="pr-3">{{ sampleProducts.length }}</span>
    </div>
  </div>
  <mat-menu #menu="matMenu">
    <app-cart-list
      *ngIf="sampleProducts.length"
      [cartData]="sampleProducts"
    ></app-cart-list>
    <p class="p-5" *ngIf="!sampleProducts.length">Cart is empty!</p>
  </mat-menu>
</mat-toolbar>
