<header class="px-[2.5vw] sm:px-[4.5vw] pt-3 mt-[1vh] w-full" *ngIf="showheader">
  <h1 class="font-bold text-[2rem] sm:hidden ml-[30%]">
    <span class="font-extrabold border px-4 py-2 mr-1 text-[#d19c97]">E</span>
    Shopper
  </h1>
  <mat-toolbar class="justify-between bg-[transparent] px-[0vw]">
    <h1 class="font-bold text-[2rem] hidden sm:block">
      <span class="font-extrabold border px-4 py-2 mr-1 text-[#d19c97]">E</span>
      Shopper
    </h1>
    <div class="flex w-[65%] sm:w-[50%]">
      <div class="text-left border w-[100%]">
        <input class="p-1 w-[100%]" type="text" placeholder="Search for products" [(ngModel)]="search" />
      </div>
      <button mat-icon-button class="px-2 text-[#d19c97] flex-center border-[1px]"
        aria-label="Example icon-button with heart icon">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <div class="flex">
      <button mat-icon-button class="flex gap-x-[1vw] text-[#d19c97] items-center border-[1px] px-2 py-1 mr-1"
        aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
        <p class="m-[0]">0</p>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu"
        class="flex gap-x-[1vw] text-[#d19c97] items-center border-[1px] px-2 py-1" *ngIf="showCart">
        <mat-icon>shopping_cart</mat-icon>
        <p class="m-[0]">{{ sampleProducts.length }}</p>
      </button>
    </div>

    <mat-menu #menu="matMenu">
      <app-cart-list *ngIf="sampleProducts.length" [cartData]="sampleProducts"></app-cart-list>
      <p class="p-5" *ngIf="!sampleProducts.length">Cart is empty!</p>
    </mat-menu>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <app-navbar></app-navbar>
</header>