<!-- Container for the sizes section with flex display and margin -->
<div class="d-flex mb-3">
    <!-- Label for sizes -->
    <p class="text-dark font-weight-medium mb-0 mr-3">Sizes:</p>
    <!-- Form containing radio buttons for different sizes -->
    <form class="d-flex">
        <!-- Radio button for size XS -->
        <div class="custom-control custom-radio custom-control-inline mr-3">
            <input type="radio" class="custom-control-input mr-1" id="size-1" name="size">
            <label class="custom-control-label" for="size-1">XS</label>
        </div>
        <!-- Radio button for size S -->
        <div class="custom-control custom-radio custom-control-inline mr-3">
            <input type="radio" class="custom-control-input mr-1" id="size-2" name="size">
            <label class="custom-control-label" for="size-2">S</label>
        </div>
        <!-- Radio button for size M -->
        <div class="custom-control custom-radio custom-control-inline mr-3">
            <input type="radio" class="custom-control-input mr-1" id="size-3" name="size">
            <label class="custom-control-label" for="size-3">M</label>
        </div>
        <!-- Radio button for size L -->
        <div class="custom-control custom-radio custom-control-inline mr-3">
            <input type="radio" class="custom-control-input mr-1" id="size-4" name="size">
            <label class="custom-control-label" for="size-4">L</label>
        </div>
        <!-- Radio button for size XL -->
        <div class="custom-control custom-radio custom-control-inline mr-3">
            <input type="radio" class="custom-control-input mr-1" id="size-5" name="size">
            <label class="custom-control-label" for="size-5">XL</label>
        </div>
    </form>
</div>
