<div class="p-4 divide-y divide-solid">
  <div class="flex justify-between pb-2">
    <span>Cart Item</span>
    <a routerLink='/cart'>View Cart</a>
  </div>
  <div class="py-3">
    <mat-list *ngFor="let item of cartData" class="flex justify-between py-3">
      <span class="truncate w-[50%]">{{ item.product.title | uppercase }} -
        {{ item.product.price | currency }}</span>
      <span class="mx-[10px]"> x {{ item.quantity }}</span>
      <span>{{
        item.product.price * item.quantity | currency
        }}</span>
    </mat-list>
  </div>
  <div class="flex justify-between pt-3">
    <button title="Clear Cart" class="bg-rose-600 rounded-full text-white w-9 h-9" (click)="clearCart()">
      <mat-icon color="white">remove_shopping_cart</mat-icon>
    </button>
    <button routerLink="/checkout" title="Buy Now" class="bg-green-600 rounded-full text-white w-9 h-9" class="checkout-button">
      <mat-icon color="white">shopping_cart</mat-icon>
    </button>
  </div>
</div>