<div class="w-full h-[100vh] flex-center flex-col gap-y-4">
  <div class="authForm w-[95%] sm:w-[35vw]">
    <h2>{{ isLogin ? "Login" : "Register" }}</h2>
    <form class="w-full" #form="ngForm" (ngSubmit)="handleSubmit(form)">
      <div class="w-[90%] grid gap-y-[10px] m-auto">
        <label>Email</label>
        <input
          type="email"
          ngModel
          name="email"
          required
          email
          #email="ngModel"
        />
        <span class="error" *ngIf="!email.valid && email.touched"
          >Please enter valid mail Id</span
        >
      </div>
      <div class="w-[90%] grid gap-y-[10px] m-auto">
        <label>password</label>
        <input
          type="password"
          name="password"
          ngModel
          required
          #password="ngModel"
        />
        <span class="error" *ngIf="!password.valid && password.touched"
          >Password is required</span
        >
      </div>
      <button class="mt-5" type="submit">
        Submit
      </button>
    </form>
    <p class="mt-4" (click)="isLogin = !isLogin">
      Click here to{{ isLogin ? " Create Account" : " Login" }}
    </p>
  </div>
  <p class="mt-2 text-[#ed4848] font-[600]">{{ error }}</p>
</div>

<ng-template #loader>
  <div class="w-full h-full flex items-center justify-center">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>
