<!-- 
    The outer div serves as a container for content alignment.
    It uses flexbox to center its child elements both horizontally and vertically.
    The height is set to 50% of the viewport height.
-->
<div class="align-items-center d-flex justify-content-center mt-5 h-[50vh]">

    <!-- 
        The mat-card is displayed only if the cartList has items (length > 0).
        The card provides a styled container for order placement details.
    -->
    <mat-card class="h-[50vh] w-[50vh] p-5 d-flex flex-column justify-content-center align-items-center bg-primary" *ngIf="cartList.length > 0 ; noResults">
        <!-- Displaying user's first and last name -->
        <h3 class="text-white">{{formData.firstName}} {{formData.lastName}}</h3>
        
        <!-- Displaying the total price of items in the cart -->
        <h3 class="text-white">TotalPrice: ${{cartList | cartTotal}}</h3>
        
        <!-- Informative message indicating that the order is placed -->
        <h1 class="text-white">Your order is placed</h1>
        
        <!-- Emoji to express positive sentiment about the order -->
        <h1>😍 😍</h1>
    </mat-card>

    <!-- 
        The div inside this block is displayed when the cartList is empty.
        It provides a message indicating that there are no items in the cart.
        Additionally, a sad emoji is displayed to express a disappointed sentiment.
    -->
    <div *ngIf="cartList.length == 0">
        <h2>No Items In The Cart...</h2>
        <h1 class="text-center"> 🥺 </h1>
    </div>
</div>
