<!-- Trandy products title -->
<div class="text-center  ">
  <h1 class="font-bold tracking-wide font-mono mt-[9vh] p-2 text-4xl">{{title1}}</h1>
</div>
<!-- Trandy Products Container -->
<div class="w-full justify-center flex">
  <div class="flex flex-wrap w-[92%] gap-x-[5vw] xl:gap-x-[8%] gap-y-[5vh] justify-around">
    <!-- Not fount text -->
    <h2 *ngIf="products.length < 1">No Products Found...</h2>
    <!-- product card -->
    <app-product-card class="w-[100%] lg:w-[45%] xl:w-[27%]" [name]="item.title" [price]="item.price" [itemId]="item._id"
      [discount]="item.discountPercentage" [thumbnail]="item.thumbnail" *ngFor="let item of products"
      cardData="item"></app-product-card>
  </div>
</div>
