
<!-- Trandy products title -->
<div class="text-center  ">
  <h1 class="font-bold tracking-wide font-mono mt-[9vh] p-2 text-4xl">Trandy Products</h1> 
</div>
<!-- Trandy Products Container -->
<div class="container-fluid pt-5">
  <div class="row">
    <ng-container *ngIf="products.length > 0; else noResults">
      <div class="col-12 col-md-6 col-lg-4 pb-5 d-flex justify-content-center align-items-center"
        *ngFor="let product of products; index as i">
        <mat-card class="border p-2 product-container ">
          <!-- Image container -->

          <div class=" d-flex justify-content-center align-items-center image-container overflow-hidden group">
            <img mat-card-image class="img-fluid w-50 h-75 transition-transform transform group-hover:scale-110"
              [src]="product.image" [alt]="product.title" />
          </div>
          <mat-divider></mat-divider>
          <!-- Product title,price -->
          <mat-card-content>
            <div class="text-center pt-4 pb-3">
              <h6 class="text-truncate mb-3 text-lg">${{ product.title }}</h6>
              <div class="d-flex justify-content-center">
                <h6 class="text-sm">{{ (product.price - (product.price * 0.09)).toString() | slice:0:4 | currency}}</h6>
                <h6 class="text-muted ml-3 text-sm"><del>${{ product.price }}</del></h6>
              </div>
            </div>
          </mat-card-content>
          <!-- View detail,Add to cart buttons -->
          <mat-card-footer>
            <div class="d-flex justify-content-between">
              <a style="text-decoration:none" class="linkText d-flex align-items-center p-1">
                <mat-icon class="text-custom-color">visibility</mat-icon>
                <span class="pl-1 text-sm text-dark cursor-pointer">View Detail</span>
              </a>
              <button class="text-dark d-flex align-items-center p-1 ">
                <mat-icon class="text-custom-color">add_shopping_cart</mat-icon>
                <span class="pl-1 text-sm text-dark">Add To Cart</span>
              </button>
            </div>
          </mat-card-footer>
        </mat-card>
        <!-- Product card ends here -->
      </div>
    </ng-container>
  </div>
</div>

<ng-template #noResults>
  <div class="text-center" style="font-size: 22px; font-weight: bold; color: teal">No Results Found</div>
</ng-template>