.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  height: 64px;
  margin-top: -1px;
  padding: 0 30px;
}

/*
   * This padding sets alignment of the nested nodes.
   */
.example-tree .mat-nested-tree-node div[role="group"] {
  padding-left: 40px;
}

/*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
/*   
  .mat-tree-node + div{
   
    padding-left: 0;

  } */
.example-tree[_ngcontent-ng-c911883987]
  .mat-nested-tree-node[_ngcontent-ng-c911883987]
  div[role="group"][_ngcontent-ng-c911883987] {
  padding-left: 0;
  position: absolute;
}
.mat-tree-node {
  border: 1px solid grey;
  padding: 10px 20px;
}
.mat-tree-node div .mat-tree-node {
  background-color: red;
}
