<!-- Page Not Found Component Template -->

<div class="w-full h-[59vh] flex-center">

    <!-- Container for the 404 error message and button -->
    <div id="container" class="border-[1px] p-8 border-[black] rounded-lg text-center">
        
        <!-- Heading for the 404 error message -->
        <h1 class="font-[500] text-[35px]">Page Not Found!</h1>
        
        <!-- Horizontal rule for separation -->
        <hr>
        
        <!-- Subtext indicating that the page does not exist -->
        <p class="mt-3 font-[500]">Sorry! The page does not exist.</p>
        
        <!-- Button to navigate back to the home page -->
        <button class="bg-[black] text-[white] text-center p-3 rounded-sm" routerLink="/home">Go to Home</button>
    
    </div>
</div>


