<!-- title card -->
<app-title-bar pageTitle="All Products" subTitle="Shop"></app-title-bar>

<!-- All Products heading -->
<div class="text-center">
  <h1 class="font-bold tracking-wide font-mono mt-[9vh] p-2 text-3xl">All Products List</h1>
</div>
<!-- all products container -->
<div class="container pt-5">
  <div class="w-full justify-center flex">
    <div class="flex flex-wrap w-[92%] gap-x-[5vw] xl:gap-x-[8%] gap-y-[5vh] justify-around">
      <!-- not found text -->
      <h3 *ngIf="(products$ | async)?.length === 0">No Products Found...</h3>

      <!-- product card -->
      <app-product-card class="w-[100%] lg:w-[45%] xl:w-[27%]" [name]="item.title" [price]="item.price"
        [itemId]="item._id" [discount]="item['discountPercentage']" [thumbnail]="item['thumbnail']"
        *ngFor="let item of (products$ | async)" cardData="item"></app-product-card>
    </div>
  </div>
</div>


<!-- Carousel slider -->
<app-product-carousel></app-product-carousel>
