<app-title-bar [pageTitle]="query" subTitle="Category Page"></app-title-bar>
<div class="flex justify-center mt-[5vh] min-h-[75vh]">
    <div class="w-[95%] flex justify-between">
        <div class="hidden sm:block sm:w-[21%] h-[20vh] grid gap-y-4">
            <app-filter-card cardTitle="Filter By Price" [filterList]="priceArray"
                (handleOutput)="handlePriceArray($event)"></app-filter-card>
            <mat-divider></mat-divider>
        </div>
        <div class="w-full sm:w-[77%] p-1">
            <div class="mb-[5vh] flex relative">
                <input placeholder="Search By Name..." class="p-3 border-1 outline-none" [(ngModel)]="searchQuery" />
                <button mat-icon-button class="border-1 flex-center px-3 text-[#d19c97]" (click)="handleFilter()">
                    <mat-icon>search</mat-icon>
                </button>
                <button *ngIf="searchQuery !== ''" (click)="clearQuery()"
                    class="p-3 px-4 bg-[orange] text-[white] rounded-lg ml-[10px]">Clear</button>
                <select [(ngModel)]="sortby" class="border-1 absolute right-[2vw] p-4" placeholder="Sort By"
                    ngDefaultControl="select" (change)="handleFilter()">
                    <option disabled value="select">Sort By</option>
                    <option *ngFor="let item of sortbyOptions" [value]="item.value">{{item.name}}</option>
                </select>
            </div>
            <div class="flex flex-wrap w-[100%] gap-x-[5vw] xl:gap-x-[4%] gap-y-[3vh]" *ngIf="!isLoading; else loader">
                <h2 *ngIf="product.length < 1">No Products Found...</h2>
                <app-product-card class="w-[100%] lg:w-[45%] xl:w-[30%]" [name]="item.title" [price]="item.price" [itemId]="item.id"
                    [discount]="item.discountPercentage" [thumbnail]="item.thumbnail" *ngFor="let item of product"
                    cardData="item"></app-product-card>
            </div>
        </div>
    </div>
</div>
<ng-template #loader>
    <div class="w-full h-[60vh] flex-center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>