/* You can add global styles to this file, and also import other style files */


@tailwind base;
@tailwind components;
@tailwind utilities;


body,
html {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.error {
  color: red;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-center {
  display: grid;
  align-items: center;
  justify-content: center;
}

.flex-items-center {
  display: flex;
  align-items: center;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.tab-container span.mdc-tab__text-label {
  font-size: 21px;
  color: #D19C97 !important;
}

.tab-container span.mdc-tab__text-label:active {
  color: black !important;
}

.details-carousel .carousel-control-next-icon,
.details-carousel .carousel-control-prev-icon {
  background-color: #0000007a;
}