<div class="container-fluid mt-[11vh]">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-6">
      <mat-card class="offer-section-container">
        <div class="d-flex flex-row justify-content-between mb-2">
          <div>
            <img class="offer-section-girl-image" alt="girlpic" [src]="url1" />
          </div>
          <div class="pt-3 d-flex flex-column pr-14 align-items-center justify-content-center">
            <h4 class="text-xl pb-3 text-custom-color">20% OFF THE ALL ORDER</h4>
            <h1 class="text-3xl fw-bold pb-3 tracking-wide">Spring Collection</h1>
            <button  class="text-custom-color border-1 border-custom-color p-2 px-3 hover:bg-custom-color hover:text-black">Shop Now</button>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card class="offer-section-container">
        <div class="d-flex flex-row justify-content-between mb-2">
          <div class="pl-14 pt-3 d-flex flex-column align-items-center justify-content-center group">
            <h4 class="text-xl pb-3 text-custom-color">20% OFF THE ALL ORDER</h4>
            <h1 class="text-3xl fw-bold pb-3 tracking-wide">Winter Collection</h1>
            <button  class="text-custom-color border-1 border-custom-color p-2 px-3 hover:bg-custom-color hover:text-black">Shop Now</button>
          </div>
          <div>
            <img class="offer-section-girl-image" alt="girlpic" [src]="url2" />
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
